
<div id="sidebar">
<div id="sidebar-shortcuts">
	<div id="sidebar-shortcuts-large">
		<ul class="nav nav-list">
			<li class="active">
				<a href="#" class="dropdown-toggle">
					<i class="icon-edit"></i>
					<span>Leads</span>
					<b= class="arrow icon-angle-down"></b>
				</a>
				<ul class="submenu" style="display: none;">
					<li class="active">
						<%= link_to "Create", :controller => "leads", :action => "new" %>
					</li>
					<li class="active">
						<%= link_to "List", :controller => "leads", :action => "index" %>
					</li>
				</ul>

			</li>
	</div>
</div>
</div>